div[class="logo-pull-left"]{
    float:left;
    padding:0.01em;
    margin-right:1px;
}
li {
    display: inline;
    margin-right: 20px;
    float: right;
    font-family: 'Mansalva', cursive;
    font-size: 32px;
    
}
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
li a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
 .image-place{
     background-image: url(../img/big-backgroundimg.jpeg)
     
 }