
li {
    display: inline;
    margin-right: 20px;
    float: right;
    font-family: 'Mansalva', cursive;
    font-size: 32px;
    
    
}
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
li a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
div[class="listed"]{
    margin-right: 20px;
    position: absolute;
    top: 0px;
    right: 0px;

}
.image{
    background-image: url(../img/pizza_vegetables_baked_goods-1029541.jpg!d);
    padding: 150px;
    margin: 45px;
    background-position: center;
    background-size: 100%,100%;
    background-repeat: no-repeat;

}

